h1 {
	color: red;
	text-align: center;
	font-weight: bold;
}

ul {
	color: pastel;
	text-align: center;
}

form {
	color: blue;
	text-align: center;
}

button {
	color: darkblue;
	text-align: center;
}

